<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Restaurante</title>
    <link rel="stylesheet" type="text/css" href="/css.css">
</head>
<body>
<form action="#"
      th:action="@{/atualizar-restaurante/{id}(id=${restaurante.id})}"
      th:object="${restaurante}"
      method="post">
    <label for="nome">Nome: </label>
    <input type="text" th:field="*{nome}" id="nome">
    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    <br/>
    <input type="submit" value="Atualizar">
</form>
</body>
</html>
